body{
    display: flex;
    justify-content: center;
}

.todo-panel{
    width:40em;
//    border:1px solid brown ;
    min-height: 40em;

//    box-shadow: 4px 6px 6px #888;

    margin-top: 5em;
}

.todo-editor{
    padding:5px 20px;
    display: flex;
} 

.todo-editor input{
    border-style: double;
    flex-grow: 1;
    font-size: 1.2em;
    padding:2px 5px;
}

.todo-editor button{
    background-color:#999595;
    border-collapse: collapse;
    border-radius: 5px;
}

input#deadline{
width: 0px;
border-collapse: collapse;
}

.todo-items{
    padding:5px 20px;
}

.todo-items > .task{
    display: flex;
    align-items: center;
}

.todo-items >.task>input{
    width:1.5em;
    height:1.5em;
}

.todo-items > .task > label{
    flex-grow: 1;
    font-family: "楷体";
}

.todo-items > .task > label#dl{
    text-align: right;
    padding-right: 5px;
}

.todo-items .ctrlbar > button{
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled{
    color:grey;
}

.todo-items .ctrlbar > button:disabled:hover{
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover{
    font-weight: bolder;
}

.task.done > label {
    text-decoration: line-through;
}

.todo-panel > h1{
    font-family: "隶书";
    padding-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.task.import >label{
    color: #f26969;
    font-size: 1.5em;
}