body{
    display: flex;
    justify-content: center;
}

.todo-panel{
    box-shadow: 4px 4px 17px 0px;
    width: 30em;
    border: 1px solid #eee;
    min-height: 20em;

}
.todo-editor{
    width: 21em;
    height: 20px;
    border: 1px solid grey;
    margin-left: 60px;
    margin-top: 5px;

}
.botton{
    width: 19px;
    height :18px;
    border: 2px solid hotpink;
    margin-left: 312px;
}